/* ProfessionalEducation.module.css */

.educationGridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .educationGridContainer {
      grid-template-columns: 1fr 1fr;
  }
}

.educationSection {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.25rem;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.educationTitle {
  text-align: center;
  font-weight: bold;
  margin: 1.25rem 0;
  color: #000; /* Ensures title text is black */
}

.educationSection p {
  color: #000; /* Ensures paragraph text is black */
}


.educationSubtitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

.educationList {
  list-style: none;
  padding: 0;
}

.educationList li {
  margin: 0.5rem 0;
}

.centeredText {
  text-align: center;
}

.educationConclusionSection {
  background-color: #06b6d4; /* Cyan color */
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.25rem;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.educationImageContainer {
  margin: 1rem;
  width: 90%;
  max-width: 600px;
}

.educationImageContainer img {
  border-radius: 1.25rem;
  width: 100%;
}
